name: Deploy to Docker Hub and Render 
on: 
  push: 
    branches: [ main ] 
 
jobs: 
  build-and-deploy: 
    runs-on: ubuntu-latest 
    steps: 
    - name: Checkout code 
      uses: actions/checkout@v4 
 
    - name: Login to Docker Hub 
      uses: docker/login-action@v3 
      with: 
        username: brawly2311 
        password: '${{ secrets.DOCKER_PASSWORD }}' 
 
    - name: Build and push Docker image 
      uses: docker/build-push-action@v5 
      with: 
        context: . 
        push: true 
        tags: brawly2311/mi-app-cicd:latest 
 
    - name: Deploy to Render 
      run: curl -X POST https://api.render.com/v1/services/'${{ secrets.RENDER_SERVICE_ID }}'/deploys -H "Authorization: Bearer '${{ secrets.RENDER_API_KEY }}'" 
